
<p>Bonjour {{ name }},</p>
<p>Veuillez cliquer ci-dessous pour confirmer votre e-mail</p>
<p>
    <a href="{{ url }}">Confirmer</a>
</p>

<p>Si vous n'avez pas demandé cet e-mail, vous pouvez l'ignorer.</p>